/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/fraunces-v24-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/fraunces-v24-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-900 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/fraunces-v24-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/fraunces-v24-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FEFCF7;
    font-family:"Fraunces", "Times New Roman", serif;
    font-weight: 900;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1310px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
/*******! HEADER STYLE START ******/

.site_header {
    padding: 44px 0 45px 0;
}
.site_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site_burger {
    display: none;
}

.site_list {
    display: flex;
}
.site_link{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.site_items:not(:last-child) {
    margin-right: 33px;
}
/*! BURGER BOX */

.burgers_box{
    display: flex;
    align-items: center;
    justify-content: center;
     position: fixed;
     top: 90px;
     width: 375px;
     padding: 40px 0 377px 0;
     background-color: aqua;
     /* background-image: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%); */
     transform: translateY(-150%);
     transition: transform 500ms ease;
 }
 .burger_list{
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     padding-top: 30px;
     
 }
 .burger_items{
    margin-bottom: 32px;
 }
 .burger_links{
     font-weight: 900;
     font-size: 24px;
     line-height: 32px;
     text-align: center;
     color: #333D4B;
     margin-bottom: 62px;
 }
 .shownav{
    transform: translate(0);
}

 @media only screen and (max-width:670px) {
    .site_header {
        box-sizing: border-box;
        padding: 34px 0 41px 0;
    }
    .site_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site_nav{
        display: none;
    }
    .site_burger{
        padding-right: 0;
    }
}
@media only screen and (max-width:670px) {
    .site_header {
        box-sizing: border-box;
        padding: 34px 0 41px 0;
    }
    .site_burger{
        display: block;
    }
    .site_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site_nav{
        display: none;
    }
    .site_logo{
        width: 163px;
        height: 17px;
    }
    .site_burger{
        padding-right: 0;
    }
}

/*******! HEADER STYLE END   ******/
.her_section{
    padding: 500px;
    background-color: #333D4B;
}